$prefix: paas !default;

a {
  text-decoration: none;
  color: #303133;
}

img {
  display: block;
}

/* 宽度100% */
.width-abs {
  width: 100% !important;
}
/* 高度100% */
.height-abs {
  height: 100% !important;
}

@mixin flex-row {
  display: -webkit-flex;
  display: flex;
}
@mixin flex-col {
  @include flex-row;
  flex-direction: column;
}

/* flex布局 */
.flex-row {
  @include flex-row;
}

.flex-col {
  @include flex-row;
  flex-direction: column;
}

// 分布两边
.flex-row-between {
  @include flex-row;
  justify-content: space-between;
}
// 居中
.flex-row-center {
  @include flex-row;
  justify-content: center;
}
// 左右等份
.flex-row-around {
  @include flex-row;
  justify-content: space-around;
}

// 上下两边分布
.flex-col-between {
  @include flex-col;
  justify-content: space-between;
}
// 上下等份
.flex-col-around {
  @include flex-col;
  justify-content: space-around;
}
// 元素上下居中
.flex-col-center {
  @include flex-col;
  justify-content: center;
}

/* flex布局子元素位置 */
.flex-items-start {
  align-items: flex-start;
}
.flex-items-center {
  align-items: center;
}
.flex-items-end {
  align-items: flex-end;
}
/* 换行 || 等分 */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
/* 定位布局 */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
/* 元素溢出处理 */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto-x {
  overflow-x: auto;
}
.overflow-auto-y {
  overflow-y: auto;
}
/* 文本不换行 */
.overflow-nowrap {
  white-space: nowrap;
}
/* 超出一行省略 */
.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* 元素转换处理 */
@each $var in (block, inline, inline-block) {
  .box-#{$var} {
    display: $var;
  }
}
/* 鼠标点击效果 */
@each $var in (pointer, default, wait, no-drop) {
  .cursor-#{$var} {
    cursor: $var;
  }
}
/* 文本对齐 */
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}
/* 阴影处理 */
.shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.none-shadow {
  box-shadow: none !important;
}
/* 边框 */
.border {
  border: solid 1px #e6e6e6;
}
.none-border {
  border: none !important;
}
@each $var in (left, top, right, bottom) {
  .border-#{$var} {
    border-#{$var}: solid 1px #e6e6e6;
  }
}

